<div class="services">
  <div class="titleServices center">
    <h3 class="font">{{ ourServices }}</h3>
  </div>
  <div class="icons center">
    <div class="icon1">
      <img src="assets/images/1.png" alt="">
      <h3 class="font">{{ identity }}</h3>
      <h4 class="font">{{ text1}}</h4>
    </div>
    <div class="icon2">
      <img src="assets/images/2.png" alt="">
      <h3 class="font">{{ content }}</h3>
      <h4 class="font">{{ text1}}</h4>
    </div>
    <div class="icon3">
      <img src="assets/images/3.png" alt="">
      <h3 class="font">{{ comunication }}</h3>
      <h4 class="font">{{ text1}}</h4>
    </div>
    <div class="icon4">
        <img src="assets/images/4.png" alt="">
        <h3 class="font">{{ support}}</h3>
        <h4 class="font">{{ text1}}</h4>
    </div>
  </div>
</div>